body, html {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: black;
  height: 100%;
  background-image: url('./wallpaper.jpg');
  background-size: cover;
  background-image: url("http://i.imgur.com/uhzZyu8.jpg");
}

div#character-creator {
  border: 1px solid white;
  height: 100px;
  width: auto;
  padding: 20px;
}

img.wallpaper {
  background-size: cover;
  width: 991px;
  height: 947px;
}

#dire-team-container {
  box-sizing: content-box;
  width: 100%;
  border: solid white 30px;
  padding: 5px;
}

#character-creator {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  background: transparent;
 font-size: 14px;
 height: 29px;
 padding: 5px;
 width: 220px;
 color: white;
 margin-right: 20px
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 30px;
  font-size: 20px;
  background-image: url("https://wallimpex.com/data/out/372/blood-red-wallpaper-7462047.png");
  border-radius: 2px;
  text-align: center;
  margin: 30px;
}

header {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  border-spacing: 20px;
  font-size: 10px;
  padding: 20px;
  background-image: url("https://wallimpex.com/data/out/372/blood-red-wallpaper-7462047.png");
  border-radius: 3px;
  margin: 30px;

}

button {
background-color: darkgreen;
font-size: 16px;
margin-top: 10px;
color: white;
border-radius: 5px;
width  : 176px;
margin-left: 50px;

}

h2 {
  text-align: center;
}
